# Docker embedded dns server
resolver 127.0.0.11 valid=30s;

log_format json_fmt escape=json '{'
        '"time_local":"$time_local",'
        '"remote_addr":"$remote_addr",'
        '"request_method":"$request_method",'
        '"request_uri":"$request_uri",'
        '"status":"$status",'
        '"body_bytes_sent":"$body_bytes_sent",'
        '"request_time":"$request_time",'
        '"http_referrer":"$http_referer",'
        '"http_user_agent":"$http_user_agent",'
        '"upstream_response_time":"$upstream_response_time"'
    '}';

server {
    listen 80 default_server;
    server_name ${NGINX_SERVER_NAME};

    access_log /dev/stdout json_fmt;
    error_log /dev/stderr json_fmt;

    root /usr/share/nginx/html;
    index index.html signin.html;

    server_tokens off;

    if ($request_method !~ ^(GET|POST|OPTIONS|DELETE)$) {
      return 405;
    }

    location ~ /(\\.ht|\\.git|\\.svn|\\.env) {
      deny all;
    }

    location /api/ {
        set $backend backend;
        proxy_pass http://$backend:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
