# Docker embedded dns server
resolver 127.0.0.11 valid=30s;

log_format custom '$remote_addr - $remote_user [$time_local] '
                           '"$request" $status $body_bytes_sent '
                           '"$http_referer" "$http_user_agent"';

server {
    listen 80 default_server;
    server_name ${NGINX_SERVER_NAME};

    access_log /dev/stdout;
    error_log /dev/stderr;

    root /usr/share/nginx/html;
    index index.html signin.html;

    server_tokens off;

    if ($request_method !~ ^(GET|POST|OPTIONS|DELETE)$) {
      return 405;
    }

    location ~ /(\\.ht|\\.git|\\.svn) {
      deny all;
    }

    location /api/ {
        set $backend backend;
        proxy_pass http://$backend:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
