.content {
    overflow-y: auto;
    /* 100vh - header - navbar - footer - padding */
    height: calc(100vh - 48px - 38px - 40px - 30px);
}

.positive {
    color: #38a182;
    font-weight: bolder;
}

.negative {
    color: #d26c6c;
    font-weight: bolder;
}

.friend-thumbnail {
    width: 64px;
    border-radius: 32px;
    border: 1px solid black;
    display: block;
}