@import "base"

.activity-row
  height: 110px

.activity-thumbnail
  background-color: #e8e8e8
  text-align: center
  padding: 10px 0 10px 0
  > img
    max-width: 64px
    width: 80%
    height: auto

.activity-friend-thumbnail
  position: relative
  top: -15%
  left: 75%
  border: 3px solid white
  max-width: 40px
  width: 45%
  height: auto
  border-radius: 50%
  > img
    width: 100%
    height: auto
