.addexpense-step1-friend-thumbnail
  background-color: #e8e8e8
  text-align: center
  padding: 10px 0 10px 0
  border: white 3px solid
  border-radius: 50%
  > img
    max-width: 64px
    width: 80%
    height: auto

.addexpense-step1-list-name
  float: left

.addexpense-step1-list-input
  float: right
  margin-right: 10px

.addexpense-step1-content
    overflow-y: auto
    /* 100vh - header - navbar - desc - padding */
    height: calc(100vh - 48px - 24px - 74px)

.addexpense-step2-friend-wrapper
  border: black 1px solid
  > img
    background-color: #e8e8e8
    border-radius: 50%
    padding: 5px 5px 5px 5px
    width: 40px
    height: auto
  > h3
    vertical-align: middle

.addexpense-radio-input
  width: 35px
  height: 35px