.app-header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 8px 0

.positive
    color: #38a182
    font-weight: bolder

.negative
    color: #d26c6c
    font-weight: bolder

.content-with-tabbar
    overflow-y: auto
    height: 100%
    > div.row:last-child
        margin-bottom: 80px

.tabbar-button
    height: 68px

footer
    background-color: white
