@import "base"

#expenses-list
  color: #525252

.error-banner
  display: none
  &.visible
    display: block

#loading-spinner
  display: none
  &.visible
    display: block

.expense-bin
  text-align: center
  padding: 10px
  cursor: pointer

  svg
    fill: #ff0000
    width: 40px

.expense-bin svg:hover
  fill: #525252
