@import "base"

.error-banner
  display: none
  &.visible
    display: block

#loading-spinner
  display: none
  &.visible
    display: block

.expense-thumbnail
  background-color: #e8e8e8
  text-align: center
  padding: 10px 0 10px 0
  > img
    max-width: 45px
    width: 80%
    height: auto