@import "base"

.settle-friend-thumbnail
  > img
    padding: 5px 5px 5px 5px
    background-color: #e8e8e8
    border: 1px solid black
    border-radius: 50%
    max-width: 64px
    width: 80%
    height: auto

.settle-row:hover
    background-color: #dad6d6