body
  height: 100vh

.wrapper
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  width: 100%
  min-height: 100%
  padding: 20px

form
  -webkit-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  background: #fff
  padding: 30px
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3)
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3)

